@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eef7ff;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  width: 100vw; /* Changed from 100vh to 100vw */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  padding: 30px;
  background-image: url("./assets/bg.svg");
  background-size: 155% auto ;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); /* Corrected '8xp' to '8px' */
  border-radius: 20px;
}

.input-container {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Corrected '8xp' to '8px' */
}

.cityInput {
  flex: 1;
  border: none;
  height: 30px;
  outline: none;
  padding-left: 20px;
  font-size: 18px;
  color: gray;
}

.search-icon {
padding-right: 10px;
height: 25px;
color: gray;
cursor: pointer;
}

.icon-pic {
  text-align: center;
  height: 150px;
  margin-top: 30px;
}

.icon-pic img {
  width: 140px;
  height: 140px;
}

.temp, .location, .country {
  text-align: center;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  margin-top: 5px;
}

.temp {
  font-weight: 500;
  margin-top: 10px;
}

.location {
  font-size: 40px;
  font-weight: 300;
  color: #FFB200;
}

.country {
  font-size: 18px;
  font-weight: 400;
}

.cord {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  gap: 20px;
  color: white;
  font-weight: 300;
}

.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cord div span {
  font-size: 14px;
  color: white;
}

.humidity-percent,
.wind-percent,
.cord div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  color: white;
}

.data-container {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
}

.element {
  text-align: center;
}

.text {
  font-size: 12px;
  font-weight: 300;
}

.city-not-found,
.error-message,
.loading-message {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  text-align: center;
}